* {
    font-family: 'Work Sans';
    font-style: normal;
    position: absolute;
}

nav {
    /* margin: 150px ; */

    /* display: flex; */
}

.content {

    width: 525px;
    height: 228px;
    left: 845px;
    top: 200px;

    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.artical {
    width: 494px;
    height: 78px;
    left: 876px;
    top: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* display: block */

}

.button {
    /* position: absolute;
    width: 160px; */
    height: 64px;
    /* left: 1210px;
    top: 578px; */

    background: #F15B22;
    border-radius: 5px;
    border: 0;
    padding: 20px 25px;

    font-weight: 600;
    font-size: 20px;
    /* line-height: 23px;
text-align: right; */

    color: #FFFFFF;
}